@{
    ViewData["Title"] = "About";
}
<section class="bg-dark p-0 m-0">
	<header class="pages">@ViewData["Title"]</header>
</section>
<section class="mutedbackground">
	<h3 class="text-center">@ViewData["Message"]</h3>
	<hr class="rounded-circle homeRule" />
	<br />
	<div class="col-8 m-auto">
		<p class="prettypara">
			Although Sharps &amp; Trebles is a relatively new company, the dream that ultimately made us
			what we are today began in the late 1960&#39;s when our founder was told by a music teacher to
			save his money because he would never be any good.  He went on to not only read and write music
			but mastered the guitar and became performance proficient at the piano.  He proved to himself
			that you don’t have to let anything stand between you and your dreams.
		</p>
		<p class="prettypara">
			After years of playing for his church band and doing solo performances, as well as just playing
			for his own enjoyment, he felt the urge to share his enjoyment and experience with others.  With
			this, Sharps &amp; Trebles was born.
		</p>
		<p class="prettypara">
			We deeply appreciate you being a part of our experience and our family!
		</p>
	</div>
	<br />
	<br />
</section>
