@{
    ViewData["Title"] = "About";
}
<section class="bg-dark p-0 m-0">
	<header class="pages">@ViewData["Title"]</header>
</section>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
