@model DavidsMusic.Models.Categories

@{
	ViewData["Title"] = Model.Name;
}
<section class="bg-dark p-0 m-0">
	<header class="pages">@ViewData["Title"]</header>
</section>

<div class="row">
	<div class="col-10 m-auto">
		<div class="row">
			<div class="card-columns">
				@foreach (Products product in Model.Products)
				{
					<div class="card">
						<div class="card-header">@product.Brand</div>
						<img src="@product.ImageUrl" class="card-img" />
						<div class="card-footer">
							<a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.ID">View Details</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
