@model DavidsMusic.Models.Categories

@{
	ViewData["Title"] = Model.Name;
}
<section class="bg-dark p-0 m-0">
	<header class="pages">@ViewData["Title"]</header>
</section>

<div class="col-10">
	<div class="row">
		<div class="container">

			@foreach (var product in Model.Products)
			{
				<a class="btn regButt" asp-controller=Products asp-route-id=@product.ID>@product.StockNumber</a>
			}
		</div>

	</div>
</div>
