
@{
    ViewData["Title"] = "Forgot Password";
}
@Html.ValidationSummary(true)

<form method="post">
	<label for="email">Enter the email address associated with your account</label>
	<input type="email"  name="email" required />
	<input type="submit" value="Send me my password reset instructions" />
</form>
