
@{
	ViewData["Title"] = "Forgot Password";
}
@Html.ValidationSummary(true)

<main class="regpage">
	<section class="bg-dark p-0 m-0">
		<header class="pages">@ViewData["Title"]</header>
	</section><div class="row">
		<div class="card col-4 m-auto">
			<br />
			<div class="card-body">
				<form method="post">
					<label for="email">Enter your account's email address</label>
					<input type="email" name="email" required /><br />
					<input type="submit" value="Send reset instructions" />
				</form>
			</div>
		</div>
		<br />
	</div>
</main>
