@{
	ViewData["Title"] = "Login";
}
<main class="regpage">
	<section class="bg-dark p-0 m-0">
		<header class="pages">@ViewData["Title"]</header>
	</section>
	<div asp-validation-summary="All"></div>
	<div class="row">
		<div class="card col-4 m-auto">
			<br />
			<div class="card-body">
				<form method="post" asp-action="login" asp-controller="account">
					<label>Username</label>
					<input type="text" name="username" required class="form-control" placeholder="Username" /><br />
					<label>Password</label>
					<input type="password" name="password" required class="form-control" placeholder="Password" /><br />
					<input class="regButt" type="submit" value="Log In" />
				</form>
			</div>

			<br />
			<a asp-action="ForgotPassword">Forgot your Password?</a><!-- Change this phraise and action location after example is complete. -->
		</div>
	</div>
	<br />
</main>

