@{
	ViewData["Title"] = "Reset Instructions Sent";
}

<main class="regpage">
	<section class="bg-dark p-0 m-0">
		<header class="pages">@ViewData["Title"]</header>
	</section><div class="row">
		<div class="card bg-light col-4 m-auto">
			<br />
			<div class="card-body text-danger text-center">
				<h5>Password Reset instructions have been sent.  Please check your email.</h5>
			</div>
		</div>
		<br />
	</div>
</main>

