
@{
	ViewData["Title"] = "Reset Password";
}

<main class="regpage">
	<section class="bg-dark p-0 m-0">
		<header class="pages">@ViewData["Title"]</header>
	</section><div class="row">
		<div class="card col-4 m-auto">
			<br />
			<div class="card-body">
				<form method="post">
					<label for="password">Enter a new password</label>
					<input type="password" name="password" required />
					<input type="submit" value="Reset" />
				</form>
			</div>
		</div>
		<br />
	</div>
</main>

